.container
  .header
    .header-wrap
      margin 0 auto
      width $desktopMainWidth
      .one-column &
        width $desktopContentWidth

  .main
    .main-wrap
      margin 0 auto
      width $desktopMainWidth
      .one-column &
        width $desktopContentWidth
      .content
        overflow hidden
        width $desktopContentWidth
        .posts-list
          margin 0 $contentWrapMarginHorizontal

      .sidebar
        float right
        margin-left 20px
        width $desktopSidebarWidth

  .footer
    border-top 1px solid $colorLighterGray
    .footer-wrap
      margin 20px auto
      width $desktopMainWidth - 40px
      .one-column &
        width $desktopContentWidth - 40px