.container
  .header
    .header-wrap
      margin 0 auto
      width $desktopMainWidth
      .one-column &
        width $desktopContentWidth

  .main
    .one-column &
      width $desktopContentWidth
    margin 20px auto
    width $desktopMainWidth
    .content
      width $desktopContentWidth
      .content-wrap
        margin 0 $contentWrapMarginHorizontal

    .sidebar
      float right
      margin-left 20px
      width $desktopSidebarWidth

  .footer
    border-top 1px solid $colorLighterGray
    .footer-wrap
      margin 20px auto
      width $desktopMainWidth - 40px
      .one-column &
        width $desktopContentWidth - 40px