@media (max-width: 767px)
  .container
    .header
      .header-wrap
        margin 0 auto
        width auto
        .brand
          left 20px
        .one-column &
          width auto

    .main
      .one-column &
        width auto
      margin 20px auto
      width auto
      .content
        width auto
        .content-wrap
          margin 0 20px


      .sidebar
        float right
        margin-left 20px
        width auto

    .footer
      margin 20px auto
      width auto
      .one-column &
        width auto

  .post-entry
    pre, .highlight
      margin 0 -20px
      padding 5px 20px
      .gutter pre
        padding-right 10px