.container
  .header
    background $headerBackgroundColor
    border-bottom solid $headerBorderBottomWidth $headerBorderBottomColor
    height $headerHeight
    .header-wrap
      position relative
    .brand
      position absolute
      height $brandHeight
      background $colorBlue
      border-radius 0 0 2px 2px
      a
        display block
        text-align center
        height 100%
        color white
        .logo
          display block
          height 100%
          &::before, &::after
            position relative
            top (($brandHeight - 30)/2)px
            content ' '
            display inline-block
            width 0
            height 0
            border-width 15px
            border-style solid
          &::before
            border-color $colorBlue white $colorBlue $colorBlue
          &::after
            border-color $colorBlue $colorBlue $colorBlue white
        .site-title
          display none
    .menu
      float right
      margin 0
      padding 0
      .menu-item
        float left
        a
          display block
          padding 0 10px
          line-height $menuItemLinkHeight
          text-decoration none
          color white
          &:hover
            background darken($menuItemLinkBackgroundColor, 50%)

  .main
    .content
      background $contentBackgroundColor
      .content-wrap
        padding-bottom 30px
        .post-entry
          padding-top 40px

          .post-title
            margin-bottom 30px
            font-size 26px
            .post-title-link
              text-decoration underline
              color $colorLightBlack
          .post-meta
            color $colorDarkGray
            position relative
            .post-type
              position absolute
              left -60px
              top 4px
              width 40px
              overflow hidden
              text-transform uppercase
              font-size 12px
              color white
              background $colorBlue
              .post-type-text
                margin 0
                padding 0 5px
              .post-type-link
                display block
                padding 0 5px
                text-decoration none
                color white
                background $colorBlue
                &:hover
                  background $colorDeepBlue
            .post-category-list
              display inline-block
              margin 0
              padding 3px
            .post-category-list-link
              color $colorDarkGray
          .post-body
            h2
            h3
            h4
            h5
            h6
              margin 30px 0 15px
          .post-eof
            margin 60px 0 20px
            height 1px
            background $colorLightGray
            text-align center
            &::before, &::after
              position relative
              top -6px
              content ' '
              display inline-block
              width 0
              height 0
              border-width 8px
              border-style solid
            &::before
              border-color white $colorLightGray white white
            &::after
              border-color white white white $colorLightGray

      .paginator
        overflow hidden
        margin-top 20px
        padding 20px
        border-top 1px solid $colorLighterGray
        a
          display inline-block
          background $baseLinkColor
          color white
          text-decoration none
          padding 5px 20px
          border-radius 2px
          &:hover
            background $colorDeepBlue
          &.paginator-prev
            float left
          &.paginator-next
            float right

    .sidebar
      background $contentBackgroundColor

  .footer
    .copyright
      .author
        text-transform uppercase