// Colors ===================================================================
$colorWhiteSmoke = #f5f5f5
$colorGainsboro = #eee
$colorLighterGray = #ddd
$colorLightGray = #ccc
$colorGray = #bbb
$colorDarkGray = #999
$colorDimGray = #666
$colorLightBlack = #555
$colorDeepBlack = #222
$colorRed = #ff2a2a
$colorBlue = #0684bd
$colorDeepBlue = #262a30

$baseTextColor = $colorLightBlack
$baseLinkColor = $colorBlue
$baseBorderColor = $colorLightGray
$bodyBackgroundColor = white
$contentBackgroundColor = white
$sidebarBackgroundColor = white

// Fonts ===================================================================
$fontFamilySans = "Avenir Next",Avenir,"Helvetica Neue",sans-serif
$fontFamilySerif = "PT Serif", "Cambria", Georgia, "Times New Roman", serif
$fontFamilyMono = consolas, Monaco, Menlo, monospace
$fontFamilyBase = "PT Serif", "Cambria", Georgia, "Hiragino Sans GB", "Microsoft YaHei", sans-serif
$fontSizeBase = 16px
$fontLineHeightBase = 1.6
$fontSizeHeadlineBase = 28px
$fontSizeHeadlineStep = 2px
$fontDir = "fonts/"
$fontIcon = FontAwesome
$fontIconVersion = "0.0.1"

// Layout ==================================================================
$desktopMainWidth = 960px
$desktopContentWidth = 700px
$desktopSidebarWidth = 240px
$desktopContentPadding = 40px
$contentWrapMarginHorizontal = 20px

// Theme ===================================================================
$headerBackgroundColor = $colorBlue
$headerBorderBottomColor = $colorBlue
$headerBorderBottomWidth = 0
$headerHeight = 56px
$brandWidth = 60px
$brandHeight = $headerHeight
$logoWidth = 12px
$logoHeight = 20px
$logoBackgroundColor = white
$menuItemLinkHeight = $headerHeight
$menuItemRightMargin = 10px
$menuItemLinkBackgroundColor = $colorBlue

// Article
$articlePadding = 0px

// Highlight
$highlightFontSize = 12px
$highlightLineHeight = 1.2