// Colors ===================================================================
$colorWhiteSmoke = #f5f5f5
$colorLighterGray = #ddd
$colorLightGray = #ccc
$colorGray = #b3b3b3
$colorDarkGray = #808080
$colorDimGray = #666
$colorLightBlack = #444
$colorDeepBlack = #222
$colorRed = #ff2a2a
$colorBlue = #0684bd
$colorDeepBlue = #262a30

$baseTextColor = $lightBlack
$baseLinkColor = $colorBlue
$baseBorderColor = $colorLightGray
$bodyBackgroundColor = $colorWhiteSmoke
$contentBackgroundColor = white
$sidebarBackgroundColor = white

// Fonts ===================================================================
$fontFamilySans = "Helvetica Neue", Helvetica, Arial, sans-serif
$fontFamilySerif = "PT Serif", "Cambria", Georgia, "Times New Roman", serif
$fontFamilyMono = consolas, Monaco, Menlo, monospace
$fontFamilyBase = "PT Serif", "Cambria", Georgia, "Hiragino Sans GB", "Microsoft YaHei", sans-serif
$fontSizeBase = 14px
$fontLineHeightBase = 1.6
$fontSizeHeadlineBase = 28px
$fontSizeHeadlineStep = 2px
$fontDir = "fonts/"
$fontIcon = FontAwesome
$fontIconVersion = "0.0.1"

// Layout ==================================================================
$desktopMainWidth = 960px
$desktopContentWidth = 700px
$desktopSidebarWidth = 240px
$desktopContentPadding = 40px

// Theme ===================================================================
$headerBackgroundColor = white
$headerBorderBottomColor = $colorLighterGray
$headerBorderBottomWidth = 1px
$headerHeight = 56px
$brandWidth = 60px
$brandHeight = $headerHeight + 10px
$logoWidth = 12px
$logoHeight = 20px
$logoBackgroundColor = white
$menuItemLinkHeight = $headerHeight
$menuItemRightMargin = 10px

// Article
$articlePadding = 20px

// Highlight
$highlightFontSize = 12px
$highlightLineHeight = 1.2