doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        include _partial/head.jade

    -var column = theme.sidebar ? "two-column" : "one-column"
    body(class=column)
        div.container
            div#header.header
                div.header-wrap
                    include _partial/brand.jade
                    include _partial/menu.jade
                    block header

            div#main.main
                div#content.content
                    div.content-wrap
                        block content

                    if page.prev || page.next
                        div.paginator
                            if page.prev
                                a.paginator-prev(href=url_for(page.prev_link)) &laquo; Prev
                            if page.next
                                a.paginator-next(href=url_for(page.next_link)) Next &raquo;
                if theme.sidebar
                    include _partial/sidebar

            div#footer.footer
                include _partial/footer.jade
                block footer

            block scripts