doctype
-var page_class = is_home() ? "page-home" : (is_archive() ? "page-archives" : "")
html(class=page_class)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        include _partial/head.jade

    -var column = theme.sidebar ? "two-column" : "one-column"
    body(class=column)
        div.container
            div#header.header
                div.header-wrap
                    include _partial/brand.jade
                    include _partial/menu.jade
                    block header

            div#main.main
                .main-wrap
                    div#content.content
                        div.content-wrap
                            block content

                    if theme.sidebar
                        include _partial/sidebar

            div#footer.footer
                .footer-wrap
                    include _partial/footer.jade
                    block footer

            block scripts