extends _layout.jade
include _mixin/entry.jade

block head
    title= "Category | " + config.title

block content
    -page.posts.each(function(post, index){
        if index === page.posts.length - 1
            -post.isLast = true
        -post.pageType = "category"
        +renderPost(post)
    -})

    if page.prev || page.next
        div.paginator
            if page.prev
                a.paginator-prev(href=url_for(page.prev_link)) &laquo; Prev
            if page.next
                a.paginator-next(href=url_for(page.next_link)) Next &raquo;
