extends _layout.jade
include _minxin/entry.jade

block head
    title= "Category | " + config.title

block content
    -page.posts.each(function(post, index){
        if index === page.posts.length - 1
            -post.isLast = true
        -post.pageType = "category"
        +renderPost(post)
    -})