if config.description
    meta(name='description', content = config.description)
if theme.rss
    link(rel='alternative', href = theme.rss, title = config.title, type='application/atom+xml')
if theme.favicon
    link(rel="icon", href = theme.favicon)
!= css("css/main.css")

block head
