mixin renderPost(post, pageType, last)

    -var articleLink = config.root + post.path

    div.post.post-entry
        div.post-header
            div.post-meta
                span.post-time
                    | Posted on &nbsp;
                    = date(post.date, "YYYY-MM-DD")
                if post.categories && post.categories.length
                    | , 属于
                    != list_categories(post.categories, {show_count: false})
                    | 分类
            h2.post-title
                if post.pageType !== "post"
                    a.post-title-link(href=articleLink)
                        = post.title
                else
                    =post.title
        div.post-body
            if post.type
                div.post-type(class='post-type-' + post.type)
                    if post.link_to
                        strong Link Post: &nbsp;
                        | The following content may be an excerpt from the link.
                        br
                        a(href=post.link_to, target="_blank") Visit the link Now &raquo;


            if post.excerpt && pageType == "index"
                != post.excerpt
                div.post-more-link
                    a(href=articleLink) Read more

            else
                != post.content

        div.post-footer
            if !post.isLast && post.pageType !== "post" && post.pageType !== "page"
                div.post-eof
