// Colors ===================================================================
$colorWhiteSmoke = #f5f5f5
$colorGainsboro = #eee
$colorLighterGray = #ddd
$colorLightGray = #ccc
$colorGray = #bbb
$colorDarkGray = #999
$colorDimGray = #666
$colorLightBlack = #555
$colorDeepBlack = #222
$colorRed = #ff2a2a
$colorBlue = #0684bd
$colorDeepBlue = #262a30

$baseTextColor = $colorLightBlack
$baseLinkColor = $colorBlue
$baseLinkHoverColor = darken($baseLinkColor, 50%)
$baseLinkDecorationColor = $baseLinkColor
$baseLinkHoverDecorationColor = $baseLinkHoverColor
$baseBorderColor = $colorLightGray
$bodyBackgroundColor = white
$contentBackgroundColor = white
$sidebarBackgroundColor = white

// Fonts ===================================================================
$fontFamilySans = "Avenir Next",Avenir,"Helvetica Neue",sans-serif
$fontFamilySerif = "PT Serif", "Cambria", Georgia, "Times New Roman", serif
$fontFamilyMono = consolas, Monaco, Menlo, monospace
$fontFamilyBase = $fontFamilySans
$fontFamilyPost = "PT Serif", "Cambria", Georgia, "Hiragino Sans GB", "Microsoft YaHei", sans-serif
$fontSizeBase = 18px
$fontLineHeightBase = 1.62
$fontSizeHeadlineBase = 28px
$fontSizeHeadlineStep = 2px
$fontDir = "fonts/"
$fontIcon = FontAwesome
$fontIconVersion = "0.0.1"

// Layout ==================================================================
$desktopMainWidth = 960px
$desktopContentWidth = 700px
$desktopSidebarWidth = 240px
$desktopContentPadding = 40px
$contentWrapMarginHorizontal = 20px

// Theme ===================================================================
$mainBackgroundImage = hexo-config('background_image')
$headerBackgroundColor = $colorBlue
$headerBorderBottomColor = $colorBlue
$headerBorderBottomWidth = 0
$headerHeight = 56px
$brandWidth = 60px
$brandHeight = $headerHeight
$logoWidth = 12px
$logoHeight = 20px
$logoBackgroundColor = white
$menuItemLinkHeight = $headerHeight
$menuItemRightMargin = 10px
$menuItemHoverBackgroundColor = darken($headerBackgroundColor, 50%)
$paginationBackgroundColor = $colorWhiteSmoke
$paginationLinkBackgroundColor = $baseLinkColor
$paginationLinkHoverBackgroundColor = darken($paginationLinkBackgroundColor, 50%);
$postTypeLinkColor = $colorBlue
$postTypeLinkBackgroundColor = #d9edf7
$postTypeLinkBorderColor = #bce8f1
$highlightLinkColor = $baseLinkHoverColor

// Article
$articlePadding = 0px

// Highlight
$highlightFontSize = 12px
$highlightLineHeight = 1.2