$baseLinkColor = black
$baseLinkHoverColor = lighten($baseLinkColor, 50%)
$baseLinkDecorationColor = lighten($baseLinkColor, 80%)
$baseLinkHoverDecorationColor = $baseLinkDecorationColor
$headerBackgroundColor = black
$menuItemHoverBackgroundColor = lighten($headerBackgroundColor, 30%)
$paginationLinkBackgroundColor = black
$paginationLinkHoverBackgroundColor = lighten($paginationLinkBackgroundColor, 30%)
$postTypeLinkColor = $colorDimGray
$postTypeLinkBackgroundColor = $colorWhiteSmoke
$postTypeLinkBorderColor = $colorGainsboro